root = true

[*]
end_of_line = lf
charset = utf-8
indent_style = space
indent_size = 2
insert_final_newline = true

[*.tdesktop-theme]
indent_style = space
indent_size = 2

[*.md]
indent_style = space
indent_size = 2
